/*ini adalah class content, tapi format penulisan seperti ini adalah untuk mengatur img dalam class content*/
.content img{
  width: 100%;
  margin: auto;
  display: block;
  max-width: 250px;
}

/*ini adalah class content, tapi format penulisan seperti ini adalah untuk mengatur h1 dalam class content*/
.content h1{
	text-align: center;
}

/*ini adalah class content, tapi format penulisan seperti ini adalah untuk mengatur p dalam class content*/
.content p{
	width: 98%;
  height: auto;
   margin: auto;
   font-size: 18px;
}


/*ketika luas layar lebih kecil dari 700px, maka akan memanggil class class berikut untuk mengatur content*/
@media screen and (max-width: 700px) {

/*ini adalah class content, tapi format penulisan seperti ini adalah untuk mengatur img dalam class content*/
  .content img {
     width: 100%;
  max-width: 150px;
	height: auto;
	margin: auto;
	display: block;
  }

/*ini adalah class content, tapi format penulisan seperti ini adalah untuk mengatur h1 dalam class content*/
  .content h1{
  width: 100%;
  font-size: 25px;
  text-align: center;
  }

/*ini adalah class content, tapi format penulisan seperti ini adalah untuk mengatur p dalam class content*/
  .content p{
  width: 95%;
  height: auto;
   margin: auto;
  font-size: 14px;
  }
}
